[Application]
name=pfCaptive Login
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=login:main

[Python]
version=3.4.4
bitness=64

[Include]
# Importable packages that your application requires, one per line
packages = requests
     bs4
	 
[Build]
installer_name=pfCaptiveLogin_amd64.exe